<html ng-app="synthApp">
<head>
	<title>Additive FM Synth</title>
	<link rel="stylesheet" type="text/css" href="synth.css">
</head>
<body>
	<div ng-controller="MidiCtrl as midiCtrl">
		<p>
			MIDI Device: <select id="midiIn"></select>
			<input type="checkbox" id="analysis" ng-model="midiCtrl.showAnalysis" ng-change="midiCtrl.onAnalysisChange()">
			<label for="analysis">Analysis</label>
			<button class="demo-button" ng-click="midiCtrl.onDemoClick(0)">Demo 1</button>
			<button class="demo-button" ng-click="midiCtrl.onDemoClick(1)">Demo 2</button>
		</p>
		<div class="canvasbox" ng-show="midiCtrl.showAnalysis">
			<span class="canvas-title">Magnitude Spectrum</span>
			<canvas id="fftbox" width=1024 height=100></canvas>
			<span class="canvas-title">Waveform</span>
			<canvas id="wavebox" width=1024 height=50></canvas>
		</div>
		<div ng-controller="PresetCtrl as presetCtrl">
			Preset: <select ng-model="presetCtrl.selectedIndex"
							ng-change="presetCtrl.onChange()"
							ng-options="presetCtrl.presets.indexOf(preset) as preset.name for preset in presetCtrl.presets"></select>
			<button ng-click="presetCtrl.save()">Save</button>
			<button ng-click="presetCtrl.reset()">Reset</button>
			<div class="param">
				<div class="param-label">Algorithm</div>
				<div class="param-value">{{ presetCtrl.presets[presetCtrl.selectedIndex].algorithm | number }}</div>
				<input type="range" step="1" min="1" max="32" to-number ng-model="presetCtrl.presets[presetCtrl.selectedIndex].algorithm">
			</div>
			<div class="param">
				<div class="param-label">Feedback</div>
				<div class="param-value">{{ presetCtrl.presets[presetCtrl.selectedIndex].feedback | number : 0 }}</div>
				<input type="range" step="1" min="0" max="7" to-number ng-model="presetCtrl.presets[presetCtrl.selectedIndex].feedback" ng-change="presetCtrl.onFeedbackChange()">
			</div>
			<div class="param-group">
				<div class="group-name">LFO</div>
				<div class="param">
					<div class="param-label">Waveform</div>
					<div class="param-value">{{ presetCtrl.presets[presetCtrl.selectedIndex].lfoWaveform | number : 0 }}</div>
					<select ng-model="presetCtrl.presets[presetCtrl.selectedIndex].lfoWaveform"
							ng-change="presetCtrl.onLFOChange()"
							ng-options="presetCtrl.lfoWaveformOptions.indexOf(wave) as wave for wave in presetCtrl.lfoWaveformOptions"></select>
				</div>
				<div class="param">
					<div class="param-label">Speed</div>
					<div class="param-value">{{ presetCtrl.presets[presetCtrl.selectedIndex].lfoSpeed | number : 0 }}</div>
					<input type="range" step="1" min="0" max="99" to-number ng-model="presetCtrl.presets[presetCtrl.selectedIndex].lfoSpeed" ng-change="presetCtrl.onLFOChange()">
				</div>
				<div class="param">
					<div class="param-label">Delay</div>
					<div class="param-value">{{ presetCtrl.presets[presetCtrl.selectedIndex].lfoDelay | number : 0 }}</div>
					<input type="range" step="1" min="0" max="99" to-number ng-model="presetCtrl.presets[presetCtrl.selectedIndex].lfoDelay" ng-change="presetCtrl.onLFOChange()">
				</div>
				<div class="param">
					<div class="param-label">Amp. Modulation</div>
					<div class="param-value">{{ presetCtrl.presets[presetCtrl.selectedIndex].lfoAmpModDepth | number : 0 }}</div>
					<input type="range" step="1" min="0" max="99" to-number ng-model="presetCtrl.presets[presetCtrl.selectedIndex].lfoAmpModDepth" ng-change="presetCtrl.onLFOChange()">
				</div>
				<div class="param">
					<div class="param-label">Pitch Modulation</div>
					<div class="param-value">{{ presetCtrl.presets[presetCtrl.selectedIndex].lfoPitchModDepth | number : 0 }}</div>
					<input type="range" step="1" min="0" max="99" to-number ng-model="presetCtrl.presets[presetCtrl.selectedIndex].lfoPitchModDepth " ng-change="presetCtrl.onLFOChange()">
				</div>
				<div class="param">
					<div class="param-label">Sync</div>
					<label for="lfoSync">
						<input id="lfoSync" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="operator.lfoSync" ng-change="presetCtrl.onLFOChange(i)">
						Sync
					</label>
				</div>
			</div>
			<div class="param-group" ng-repeat="(i, operator) in presetCtrl.presets[presetCtrl.selectedIndex].operators">
				<div class="group-name">OP {{ $index + 1 }}</div>

				<div ng-repeat="i in [0,1,2,3]">
					<div class="param">
						<div class="param-label">L{{ i + 1 }}</div>
						<div class="param-value">{{ operator.levels[i] | number : 0 }}</div>
						<input type="range" step="1" min="0" max="99" to-number ng-model="operator.levels[i]">
					</div>
					<div class="param">
						<div class="param-label">R{{ i + 1 }}</div>
						<div class="param-value">{{ operator.rates[i] | number : 0 }}</div>
						<input type="range" step="1" min="0" max="99" to-number ng-model="operator.rates[i]">
					</div>
				</div>
				<div class="param">
					<div class="param-label">Freq. Coarse</div>
					<div class="param-value">{{ operator.freqCoarse | number : 0 }}</div>
					<input type="range" step="1" min="0" max="31" to-number ng-model="operator.freqCoarse" ng-change="presetCtrl.onUpdateFrequency(i)">
				</div>
				<div class="param">
					<div class="param-label">Freq. Fine</div>
					<div class="param-value">{{ operator.freqFine | number : 0 }}</div>
					<input type="range" step="1" min="0" max="99" to-number ng-model="operator.freqFine" ng-change="presetCtrl.onUpdateFrequency(i)">
				</div>
				<div class="param">
					<div class="param-label">Detune</div>
					<div class="param-value">{{ operator.detune | number : 0 }}</div>
					<input type="range" step="1" min="-7" max="7" to-number ng-model="operator.detune"">
				</div>
				<div class="param">
					<div class="param-label">Volume</div>
					<div class="param-value">{{ operator.volume | number : 0 }}</div>
					<input type="range" step="1" min="0" max="99" to-number ng-model="operator.volume" ng-change="presetCtrl.onVolumeChange(i, operator)">
				</div>
				<div class="param">
					<div class="param-label">Velocity Sens.</div>
					<div class="param-value">{{ operator.velocitySens | number : 0 }}</div>
					<input type="range" step="1" min="0" max="7" to-number ng-model="operator.velocitySens">
				</div>
				<div class="param">
					<div class="param-label">LFO Sens.</div>
					<div class="param-value">{{ operator.lfoAmpModSens | number : 0 }}</div>
					<input type="range" step="1" min="0" max="3" to-number ng-model="operator.lfoAmpModSens">
				</div>
				<div class="param">
					<div class="param-label">Pan</div>
					<div class="param-value">{{ operator.pan | number : 0 }}</div>
					<input type="range" step="1" min="-50" max="50" to-number ng-init="0" ng-model="operator.pan" ng-change="presetCtrl.onPanChange(i, operator.pan)">
				</div>
				<div class="param">
					<div class="param-label">Osc. Mode</div>
					<label for="oscMode{{ $index }}">
						<input id="oscMode{{ $index }}" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="operator.oscMode" ng-change="presetCtrl.onUpdateFrequency(i)">
						Fixed
					</label>
				</div>
			</div>
		</div>
	</div>
	<img src="algorithms.png" class="algo-diagram">
	<script src="angular.min.js"></script>
	<script src="mml-emitter.min.js"></script>
	<script src="ngStorage.min.js"></script>
	<script src="sysex-dx7.js"></script>
	<script src="spectrumBox.js"></script>
	<script src="envelope-dx7.js"></script>
	<script src="operator.js"></script>
	<script src="fmvoice.js"></script>
	<script src="synth.js"></script>
	<script src="midi.js"></script>
	<script src="app.js"></script>
</body>
</html>