<html ng-app="synthApp">
<head>
	<title>DX7 Synth</title>
	<link rel="stylesheet" type="text/css" href="synth.css">
</head>
<body>
	<div ng-controller="MidiCtrl as midiCtrl">
		<div class="dx7-container" ng-controller="PresetCtrl as presetCtrl">
			<div class="dx7-top-panel">
				<div class="dx7-logo"></div>
				<div class="display">
					<div class="analysis">
						<canvas id="fftbox"></canvas>
						<canvas id="wavebox"></canvas>
					</div>
					<select ng-model="presetCtrl.selectedIndex"
									ng-change="presetCtrl.onChange($event)"
									ng-options="presetCtrl.presets.indexOf(preset) as preset.name for preset in presetCtrl.presets"
									class="lcd"></select>
				</div>
				<div class="dx7-buttons-row-1">
					<button class="dx7-button purple" ng-click="midiCtrl.onModeClick()">Mode</button>
					<button class="dx7-button teal" ng-click="midiCtrl.onDemoClick(0)">Demo 1</button>
					<button class="dx7-button teal" ng-click="midiCtrl.onDemoClick(1)">Demo 2</button>
					<button class="dx7-button pink" ng-click="presetCtrl.save()">Save</button>
					<button class="dx7-button pink" ng-click="presetCtrl.reset()">Reset</button>
				</div>
				<div class="dx7-buttons-row-2">
					MIDI Device: <select id="midiIn"></select>
				</div>
			</div>
			<div class="dx7-headings">
				<div class="heading-algorithm">Algorithm</div>
				<div class="heading-operator">Operator</div>
				<div class="heading-frequency">Frequency</div>
				<div class="heading-egrate">EG Rate</div>
				<div class="heading-eglevel">EG Level</div>
				<div class="heading-keyboardscaling">Keyboard Scaling <span style="opacity: 0.2">Not implemented</span></div>
			</div>
			<div class="dx7-operators">
				<div class="algorithm-diagram" style="background-image: url(images/algorithm-{{ ('0' + presetCtrl.params.algorithm).slice(-2) }}.svg)"></div>
				<div class="operator" ng-repeat="operator in presetCtrl.presets[presetCtrl.selectedIndex].operators | reverse" ng-controller="OperatorCtrl">
					<div class="param-group">
						<div class="param">
							<div class="param-label">On/Off</div>
							<toggle-button ng-model="operator.enabled"></toggle-button>
						</div>
						<div class="param">
							<div class="param-label">Level</div>
							<div class="param-value">{{ operator.volume | number : 0 }}</div>
							<knob step="1" min="0" max="99" to-number ng-model="operator.volume"></knob>
						</div>
						<div class="param">
							<div class="param-label">Pan</div>
							<div class="param-value">{{ operator.pan | number : 0 }}</div>
							<knob step="1" min="-50" max="50" to-number ng-model="operator.pan"></knob>
						</div>
						<div class="param">
							<div class="param-label">Vel Sens</div>
							<div class="param-value">{{ operator.velocitySens | number : 0 }}</div>
							<knob step="1" min="0" max="7" to-number ng-model="operator.velocitySens"></knob>
						</div>
						<div class="param">
							<div class="param-label">LFO Sens</div>
							<div class="param-value">{{ operator.lfoAmpModSens | number : 0 }}</div>
							<knob step="1" min="0" max="3" to-number ng-model="operator.lfoAmpModSens"></knob>
						</div>
					</div>
					<div class="param-group">
						<div class="param">
							<div class="param-label">Fixed</div>
							<toggle-button ng-model="operator.oscMode"></toggle-button>
						</div>
						<div class="param">
							<div class="param-label">Coarse</div>
							<div class="param-value">{{ operator.freqCoarse | number : 0 }}</div>
							<knob step="1" min="0" max="31" to-number ng-if="operator.oscMode == 0" ng-model="operator.freqCoarse"></knob>
							<knob step="1" min="0" max="3" to-number ng-if="operator.oscMode == 1" ng-model="operator.freqCoarse"></knob>
						</div>
						<div class="frequency-display" ng-if="operator.oscMode == 0">
							{{ operator.freqRatio | number: 2 }}
						</div>
						<div class="frequency-display" ng-if="operator.oscMode == 1">
							<!-- TODO: make this nicer -->
							{{ (operator.freqFixed | number).substr(0,5).replace(',','').replace('/\.$/','') }}
						</div>
						<div class="param">
							<div class="param-label">Fine</div>
							<div class="param-value">{{ operator.freqFine | number : 0 }}</div>
							<knob step="1" min="0" max="99" to-number ng-model="operator.freqFine"></knob>
						</div>
						<div class="param">
							<div class="param-label">Detune</div>
							<div class="param-value">{{ operator.detune | number : 0 }}</div>
							<knob step="1" min="-7" max="7" to-number ng-model="operator.detune"></knob>
						</div>
					</div>
					<div class="param-group">
						<div class="param narrow" ng-repeat="i in [0,1,2,3]">
							<slider step="1" min="0" max="99" to-number ng-model="operator.rates[i]"></slider>
						</div>
					</div>
					<div class="param-group">
						<div class="param narrow" ng-repeat="i in [0,1,2,3]">
							<slider step="1" min="0" max="99" to-number ng-model="operator.levels[i]"></slider>
						</div>
					</div>
					<div class="param-group">
						<div class="param">
							<div class="param-label">Rate</div>
							<knob step="1" min="0" max="99" to-number ng-model="operator.keyScaleRate"></knob>
						</div>
						<div class="param">
							<div class="param-label">Depth</div>
							<knob step="1" min="0" max="99" to-number ng-model="operator.keyScaleDepthL"></knob>
						</div>
						<div class="param">
							<div class="param-label">Curve</div>
							<knob step="1" min="0" max="99" to-number ng-model="operator.keyScaleCurveL"></knob>
						</div>
						<div class="param">
							<div class="param-label">Breakpt</div>
							<knob step="1" min="0" max="99" to-number ng-model="operator.keyScaleBreakpoint"></knob>
						</div>
						<div class="param">
							<div class="param-label">Curve</div>
							<knob step="1" min="0" max="99" to-number ng-model="operator.keyScaleCurveR"></knob>
						</div>
						<div class="param">
							<div class="param-label">Depth</div>
							<knob step="1" min="0" max="99" to-number ng-model="operator.keyScaleDepthR"></knob>
						</div>
					</div>
				</div>
			</div>
			<div class="dx7-bottom-panel">
				<div class="param wide">
					<div class="param-label">Algorithm</div>
					<div class="param-value">{{ presetCtrl.presets[presetCtrl.selectedIndex].algorithm | number }}</div>
					<knob step="1" min="1" max="32" to-number ng-model="presetCtrl.params.algorithm"></knob>
				</div>
				<div class="param wide">
					<div class="param-label">Feedback</div>
					<div class="param-value">{{ presetCtrl.presets[presetCtrl.selectedIndex].feedback | number : 0 }}</div>
					<knob step="1" min="0" max="7" to-number ng-model="presetCtrl.params.feedback"></knob>
				</div>
				<!--
				<div class="group-name">LFO</div>
				-->
				<div class="param extra-wide">
					<div class="param-label">Waveform</div>
					<div class="param-value">{{ presetCtrl.presets[presetCtrl.selectedIndex].lfoWaveform | number : 0 }}</div>
					<select ng-model="presetCtrl.presets[presetCtrl.selectedIndex].lfoWaveform"
							ng-change="presetCtrl.onLFOChange()"
							ng-options="presetCtrl.lfoWaveformOptions.indexOf(wave) as wave for wave in presetCtrl.lfoWaveformOptions"></select>
				</div>
				<div class="param">
					<div class="param-label">Speed</div>
					<div class="param-value">{{ presetCtrl.presets[presetCtrl.selectedIndex].lfoSpeed | number : 0 }}</div>
					<knob step="1" min="0" max="99" to-number ng-model="presetCtrl.params.lfoSpeed"></knob>
				</div>
				<div class="param">
					<div class="param-label">Delay</div>
					<div class="param-value">{{ presetCtrl.presets[presetCtrl.selectedIndex].lfoDelay | number : 0 }}</div>
					<knob step="1" min="0" max="99" to-number ng-model="presetCtrl.params.lfoDelay"></knob>
				</div>
				<div class="param">
					<div class="param-label">Amp Mod</div>
					<div class="param-value">{{ presetCtrl.presets[presetCtrl.selectedIndex].lfoAmpModDepth | number : 0 }}</div>
					<knob step="1" min="0" max="99" to-number ng-model="presetCtrl.params.lfoAmpModDepth"></knob>
				</div>
				<div class="param">
					<div class="param-label">Pitch Mod</div>
					<div class="param-value">{{ presetCtrl.presets[presetCtrl.selectedIndex].lfoPitchModDepth | number : 0 }}</div>
					<knob step="1" min="0" max="99" to-number ng-model="presetCtrl.params.lfoPitchModDepth"></knob>
				</div>
				<div class="param">
					<div class="param-label">Pitch Sens</div>
					<div class="param-value">{{ presetCtrl.presets[presetCtrl.selectedIndex].lfoPitchModSens | number : 0 }}</div>
					<knob step="1" min="0" max="7" to-number ng-model="presetCtrl.params.lfoPitchModSens"></knob>
				</div>
				<div class="param">
					<div class="param-label">Sync</div>
					<label for="lfoSync">
						<toggle-button ng-true-value="1" ng-false-value="0" ng-model="presetCtrl.params.lfoSync"></toggle-button>
					</label>
				</div>
			</div>
		</div>
	</div>
	<script src="angular.min.js"></script>
	<script src="mml-emitter.min.js"></script>
	<script src="ngStorage.min.js"></script>
	<script src="sysex-dx7.js"></script>
	<script src="spectrumBox.js"></script>
	<script src="lfo-dx7.js"></script>
	<script src="envelope-dx7.js"></script>
	<script src="operator.js"></script>
	<script src="voice-dx7.js"></script>
	<script src="synth.js"></script>
	<script src="midi.js"></script>
	<script src="app.js"></script>
</body>
</html>